body{
    font-family: 'tahoma' sans-serif;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

.col{
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding: 8px;
   
}

.pricing-box{
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;

}

.pricing-box .header.header-green{
background-color: #4caf50;
}
.pricing-box .header{
    font-size: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
    border: 1px #8d8d8d solid;
}

.pricing-box:hover{
    box-shadow: 0 10px 15px #000;
}

h2{
    text-align: center;
}

.pricing-box li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    border-bottom: 1px #eee solid;
    line-height: 20px;
}

.pricing-box .emph{
    background-color: #eee;
}

.button{
    text-decoration: none;
    color: white;
    background: #4caf50;
    padding: 10px;
}

/*media query*/
@media(max-width:578px){
    .col{
        width: 100%;
    }
}